<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>reserveapp-web</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Room Type Controller</description>
    <display-name>RoomTypeController</display-name>
    <servlet-name>RoomTypeController</servlet-name>
    <servlet-class>org.training.reserapp.controllers.RoomTypeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomTypeController</servlet-name>
    <url-pattern>/room_type</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationController</display-name>
    <servlet-name>ReservationController</servlet-name>
    <servlet-class>org.training.reserapp.controllers.ReservationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationController</servlet-name>
    <url-pattern>/reservation</url-pattern>
  </servlet-mapping>
</web-app>